html, body {
    font-size: 1em;
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body > div {
    background: salmon;
    text-align: center;
}

body > div:nth-child(odd) {
    background: rgb(255, 197, 190);
}

#roundCount {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
}

.count {
    border: 1px solid none;
    padding: 0;
    margin: 0;
    background: salmon;
}

.outcome {
    border: 1px solid black;
    /* remove height after styling is completed */
    height: 10%;
    position: relative;
}

button {
    border: .1em solid white;
    background: salmon;
    padding: 10px 30px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    background: rgb(252, 95, 78);
    padding: 12px 32px;
}

button:active {
    padding: -10px;
    
}

button:focus {
    outline: 0;
}
